:root {
    --clr-green: #596D48;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(font/Norse-Bold.otf);
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    height: 100vh;
    display: flex;
}

#image-section {
    width: 100vh;
    height: 100vh;
    background: url(images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
    background-size: cover;
}

.form-section-content {
    height: 33.3%;
    background-color: #f8f5f5c0;
    padding: 75px 40px 20px 50px;
}

.form-section-content:nth-child(1) {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2rem;
}

.form-section-content:nth-child(2) {
    background-color: #FFF;
}

.form-section-content>p:nth-child(2) {
    padding-top: 30px;
}

button {
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    background-color: var(--clr-green);
    border: 1px solid var(--clr-green);
    cursor: pointer;
}

.form-section-content:nth-child(3) {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--clr-green);
}

a:visited {
    color: var(--clr-green);
}

p {
    white-space: pre-line;
}