:root {
    --clr-green: #596D48;
    --clr-blue: #60B9EF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(font/Norse-Bold.otf);
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    height: 100vh;
    display: flex;
}

#image-section {
    width: 100vh;
    height: 100vh;
    background: url(images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
    background-size: cover;
}

#form-section {
    display: flex;
    flex-direction: column;
}

.form-section-content {
    height: 33.3%;
    background-color: #f8f5f5c0;
    padding: 50px 280px 20px 85px;
}

.form-section-content:nth-child(1) {
    padding-top: 100px;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2rem;
}

.form-section-content:nth-child(2) {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-section-content>p:nth-child(2) {
    padding-top: 30px;
}

button {
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    background-color: var(--clr-green);
    border: 1px solid var(--clr-green);
    cursor: pointer;
}

.form-section-content:nth-child(3) {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--clr-green);
}

a:visited {
    color: var(--clr-green);
}

p {
    white-space: pre-line;
}

#image-section div {
    height: 210px;
    width: 100%;
    background: rgb(0, 0, 0, 60%);
    margin-top: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FFF;
    font-family: Norse-Bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8rem;
}

img {
    width: min(140px, 100%);
    height: min(170px, 100%);
}

#form-container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

#form-container div {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}

input {
    padding: 0.4rem;
    border-radius: 0.4rem;
    width: 255px;
    border: 2px solid #8f9196;
}

input,
label:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
    border: 2px solid var(--clr-blue);
    box-shadow: 0.5px 0.5px 5px 0.5px var(--clr-blue);
}

label {
    color: #595b61;
    margin-bottom: 5px;
    font-weight: bold;
}

#para-action {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2b2c2e;
    margin-bottom: 15px;
}